<div class="card">
  <div class="card-header">System Setting</div>
  <div class="card-body">
    <form>
      <div class="col-md-3">
        <div class="form-group">
          <label class="small" for="inputCompanyTitle">Company Title</label>
          <input
            class="form-control"
            id="inputCompanyTitle"
            type="text"
            placeholder="Enter Company Title"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="small" for="inputCompanyTitle">Company Phone</label>
          <input
            class="form-control"
            id="inputCompanyTitle"
            type="text"
            placeholder="Enter Company Phone"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="inputCompanyAddress"
            >Company Address</label
          >
          <textarea
            class="form-control"
            id="inputCompanyAddress"
            type="text"
            rows="2"
            placeholder="Enter Company Address"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="card">
  <div class="card-header">Email Setting</div>
  <div class="card-body">
    <form>
      <div class="col-md-3">
        <div class="form-group">
          <label class="small" for="inputCompanyTitle">Company Title</label>
          <input
            class="form-control"
            id="inputCompanyTitle"
            type="text"
            placeholder="Enter Company Title"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="small" for="inputCompanyTitle">Company Phone</label>
          <input
            class="form-control"
            id="inputCompanyTitle"
            type="text"
            placeholder="Enter Company Phone"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="inputCompanyAddress"
            >Company Address</label
          >
          <textarea
            class="form-control"
            id="inputCompanyAddress"
            type="text"
            rows="2"
            placeholder="Enter Company Address"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="card">
  <div class="card-header">Pos Receipt Setting</div>
  <div class="card-body">
    <form>
      <div class="col-md-3">
        <div class="form-group">
          <label class="small" for="inputCompanyTitle">Company Title</label>
          <input
            class="form-control"
            id="inputCompanyTitle"
            type="text"
            placeholder="Enter Company Title"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="small" for="inputCompanyTitle">Company Phone</label>
          <input
            class="form-control"
            id="inputCompanyTitle"
            type="text"
            placeholder="Enter Company Phone"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="inputCompanyAddress"
            >Company Address</label
          >
          <textarea
            class="form-control"
            id="inputCompanyAddress"
            type="text"
            rows="2"
            placeholder="Enter Company Address"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
